[submodule "make-utils"]
	path = make-utils
	url = https://github.com/wichtounet/make-utils.git
[submodule "rc-switch-rpi"]
	path = rc-switch-rpi
	url = https://github.com/wichtounet/rc-switch-rpi.git
